{% extends "base_html.html" %}

{% block content %}
    <div>
        <h1>O aplikacji</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu mauris at tortor bibendum ullamcorper blandit in lorem. Proin ac convallis justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In eget tempus sapien. Etiam finibus accumsan pulvinar. Integer vehicula nulla nec mauris bibendum, sed pulvinar ex feugiat. Suspendisse non urna quis nulla mattis condimentum. Nam convallis purus ut nulla lacinia, quis tempor nisi porta. Sed commodo quis neque quis consequat. Duis dictum lacinia leo. Nullam convallis metus vel vehicula iaculis.
        </p>
    </div>
    <div>
        <div>
            <h1>Losowy produkt</h1>
            <p>
                Ut eleifend quam nec felis commodo, et sollicitudin ex auctor. Vestibulum vel nibh sit amet nibh porta tempor eu vitae libero. Nulla at erat ex. Donec non fringilla turpis. Phasellus ultrices urna vel risus sagittis, sit amet elementum ante varius. Donec sed tortor condimentum, venenatis massa ut, sollicitudin elit. Integer tempor tellus nulla, ac hendrerit massa lacinia ac. Praesent eget dui dui. Nullam venenatis mi ac nulla mollis, sit amet porttitor arcu finibus. Sed convallis gravida arcu at viverra. Fusce eu velit mollis, porta nisl at, rutrum nisl. Aliquam quam risus, lacinia nec luctus sit amet, luctus id enim. In hac habitasse platea dictumst.
            </p>
        </div>
    </div>
    <div>
        <div>
            <h1>Losowy plan</h1>
            <p>
                Phasellus eu hendrerit lorem. Maecenas sed metus accumsan, gravida enim quis, gravida ex. Sed ultricies lectus nec luctus porttitor. Sed fermentum efficitur laoreet. Cras mi risus, auctor non mauris id, congue condimentum libero. Etiam ac euismod purus, non iaculis odio. Nullam ut dignissim enim, sed vehicula dolor. In iaculis quam quis luctus auctor. Vivamus tempus viverra enim id dapibus. Sed ut luctus ipsum, quis pharetra purus. Pellentesque pellentesque mattis risus eget pulvinar. Sed quis pulvinar dolor, maximus gravida risus. Quisque in posuere lorem, id aliquam tellus.
            </p>
        </div>
    </div>

{% endblock %}
